*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env

# IDE - JetBrains / Android Studio
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/vcs.xml
!.idea/compiler.xml
!.idea/runConfigurations/

