*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
INSTRUCCIONES_IA.md

# Test reports
app/build/reports/
app/build/test-results/
*.log
.env

# IDE - JetBrains / Android Studio
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/vcs.xml
!.idea/compiler.xml
!.idea/runConfigurations/

